In [11]:
# importa biblioteca pandas
import pandas as pd

# importa biblioteca numpy
import numpy as np

# local do arquivo
Caminho='C:/IFM/cadastro_funcionarios.xlsx'

In [15]:

df = pd.read_excel(Caminho)

FileNotFoundError: [Errno 2] No such file or directory: 'C:/IFM/cadastro_funcionarios.xlsx'

In [4]:
df.head( )

   ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
0   1            s              f         0     4.00     26      int
1   2            c              f         1     4.56     32      cap
2   3            c              f         2     5.25     36      cap
3   4            s              m         0     5.73     20      out
4   5            s              f         0     6.26     40      out

In [5]:
#amostra aleatória simples sem repetição com 20 elementos
amostra = df.sample(20, replace=False)
amostra

      ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
93    94            c              s         0    13.20     26      out
91    92            s              m         0    11.59     34      int
193  194            s              s         0    10.53     25      out
166  167            s              f         0    13.85     44      out
268  269            c              m         2    11.40     30      int
346  347            c              m         4    14.90     40      int
370  371            c              f         3     9.40     39      out
43    44            c              m         1     7.59     34      int
186  187            s              m         0     8.46     27      cap
131  132            c              f         0    13.85     46      out
122  123            c              m         2     9.80     39      out
285  286            c              f         2     5.20     36      cap
156  157            c              m         1     9.77     33      cap
332  333            c              m         0     9.20     30      out
360  361            s              m         0     7.40     43      cap
162  163            s              f         0    12.00     41      cap
2      3            c              f         2     5.25     36      cap
80    81            c              m         2     8.12     33      out
324  325            s              f         0     7.21     41      out
39    40            s              f         0     6.26     41      out

In [6]:
#amostra aleatória simples sem repetição com 20 elementos
amostra = df.sample(20, replace=False)
amostra

      ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
113  114            c              m         1     7.59     35      cap
69    70            c              m         2    19.40     49      cap
419  420            c              m         1    16.65     35      int
291  292            c              m         0     7.70     34      cap
147  148            s              m         0     7.39     43      cap
157  158            c              f         3     9.80     39      out
87    88            c              f         2     9.80     39      cap
85    86            s              m         0     8.95     38      out
207  208            c              s         3    17.26     43      int
297  298            c              m         0     8.50     30      int
130  131            c              m         2    13.60     35      out
62    63            c              f         0    14.69     29      int
15    16            s              m         0     9.35     38      out
75    76            c              f         0     6.66     27      out
334  335            c              s         1     9.60     31      cap
389  390            c              f         2     4.77     32      cap
50    51            s              m         0     9.35     39      out
259  260            c              m         0     9.20     27      int
260  261            c              s         2    10.90     38      cap
107  108            c              f         1     5.25     36      cap

In [14]:
#amostra aleatória simples sem repetição com 20 elementos FIXANDO A SEMENTE ALEATÓRIA
amostra = df.sample(n=20, replace=False, random_state=2903)
amostra

      ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
386  387            s              s         0    18.30     33      out
177  178            c              m         2     5.25     36      cap
128  129            c              m         0    12.79     26      out
69    70            c              m         2    19.40     49      cap
78    79            c              m         0     7.59     34      cap
309  310            s              m         0    13.56     46      out
124  125            s              m         0    10.76     35      int
311  312            c              s         5    14.98     40      int
10    11            c              m         2     8.12     33      int
285  286            c              f         2     5.20     36      cap
80    81            c              m         2     8.12     33      out
163  164            c              s         2    12.79     26      out
88    89            s              s         0    11.01     25      int
307  308            c              s         2    13.34     32      int
363  364            c              m         1    10.50     33      int
329  330            s              f         0     8.50     27      out
238  239            c              s         1    12.90     35      cap
269  270            s              s         0    11.75     34      cap
95    96            c              m         1    13.60     35      out
74    75            s              f         0     7.00     40      out

In [8]:
#verifica as classes da variável e sua proporção
perc_est_civ=df["estado_civil"].value_counts(normalize = True)

perc_est_civ

estado_civil
c    0.57277
s    0.42723
Name: proportion, dtype: float64

In [15]:
# Executa a amostra estratificada igualitária por estado civil
amostra_est_igual=df.groupby(['estado_civil'], group_keys=False).apply(lambda x: x.sample(n=10,replace=False,random_state=2903))

amostra_est_igual

      ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
102  103            c              s         3    17.26     43      int
80    81            c              m         2     8.12     33      out
376  377            c              s         2    12.80     26      out
413  414            c              m         3    13.70     35      out
29    30            c              m         2    15.99     35      cap
66    67            c              m         1    16.61     36      cap
97    98            c              s         0    14.69     29      int
139  140            c              m         3    19.40     48      cap
312  313            c              m         3    15.77     35      cap
207  208            c              s         3    17.26     43      int
117  118            s              m         0     8.74     37      int
36    37            s              f         0     4.56     31      cap
329  330            s              f         0     8.50     27      out
313  314            s              s         0    16.33     33      out
173  174            s              s         0    18.75     33      out
197  198            s              f         0    13.00     41      out
292  293            s              m         0     7.50     24      out
309  310            s              m         0    13.56     46      out
54    55            s              s         0    10.76     37      int
33    34            s              s         0    18.75     33      cap

In [18]:
#definir total desejado
N = 20

# Executa a amostra estratificada proporcional por estado civil 
amostra_est_prop = df.groupby(['estado_civil'], group_keys=False).apply(
    lambda x: x.sample(int(np.rint(N * len(x) / len(df))), random_state=2903)  # Cálculo proporcional da amostra
).sample(frac=1, random_state=2903).reset_index(drop=True)  # Embaralhar a amostra

amostra_est_prop

NameError: name 'random_state' is not defined

In [13]:

#verifica a proporção de cada estado civil
perc_est_civ=amostra_est_prop["estado_civil"].value_counts(normalize = True)
perc_est_civ

estado_civil
c    0.55
s    0.45
Name: proportion, dtype: float64